<div class="container mb-5">
    <h1 class="mb-3 mt-4">Entre em contato conosco</h1>
    <form>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Name</label>
        <input type="text" class="form-control" id="name1" placeholder="Digite seu nome">
    </div>
    <div class="mb-3">
        <label for="nome" class="form-label">Email</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="mb-3">
        <label for="menssagem">Menssagem</label>
        <textarea class="form-control" id="messagem" rows="3"></textarea>
    </div>
    <button class="btn btn-outline-dark">Enviar</button>
</form>
</div>